<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <p class="lead">Hello, my name is Jonathan Candelaria. I have recently graduated UC Riverside and obtained my Bachelors in Computer Science.<br>
        <br>I am currently seeking an entry-level position which will allow me to utilize my programming experience and display my technical skills. Below you will find some of my undergraduate projects as well as my contact information and resume. Come say hi!
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
