<section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h1>Projects</h1>
                    <hr class="small">
                    <!--div class="row"-->
                            <div class="grid">
                                <figure class="effect-steve">
                                    <a href = "https://github.com/the-jsng/SpinOut">
                                        <img class="img-portfolio img-responsive" src="img/portfolio-1.png">
                                        <figcaption>
                                            <h2>Unity3D <span>Video Game</span></h2>
                                            <p>Built GUI/UX elements and split screen using C# scripts</p>
                                        </figcaption>
                                    </a>
                                </figure>
                                <figure class="effect-steve">
                                    <a href="https://github.com/the-jsng/Performance-Monitoring">
                                        <img class="img-portfolio img-responsive" src="img/portfolio-2.png">
                                        <figcaption>
                                            <h2>VM Load <span>Monitoring Tool</span></h2>
                                            <p>Setup Vagrant environment and bash configuration scripts</p>
                                        </figcaption>
                                    </a>
                                </figure>
                            </div>
                            <div class="grid">
                                <figure class="effect-steve">
                                    <a href="https://github.com/the-jsng/RayTracing">
                                        <img class="img-portfolio img-responsive" src="img/portfolio-3.png">
                                        <figcaption>
                                            <h2>Smooth/Flat <span>Shading Renderer</span></h2>
                                            <p>Ray Tracing in OpenGL written in C</p>
                                        </figcaption>
                                    </a>
                                </figure>
                                <figure class="effect-steve">
                                    <a href="https://github.com/the-jsng/Dot-Matrix-Game">
                                        <img class="img-portfolio img-responsive" src="img/portfolio-4.png">
                                        <figcaption>
                                            <h2>Digital Design/<span>Embedded Systems</span></h2>
                                            <p>LED Dot Matrix Game written in C</p>
                                        </figcaption>
                                    </a>
                                </figure>
                            </div>
                <!--/div -->
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
        </div>
</section>
