<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h1>Projects</h1>
        <hr class="small">
         <!--div class="row"-->
          <div class="grid">
            <figure class="effect-steve">
              <a href = "https://github.com/JECan/BigdataAnalysis">
                <img class="img-portfolio img-responsive" src="img/resume_portfolio_heatmap.png">
                <figcaption>
                  <h2>Bigdata <span>Project</span></h2>
                  <p>Sentiment analysis on top trending Twitter Hashtags</p>
                <figcaption>
              </a>
            </figure>
            <figure class="effect-steve">
              <a href="https://github.com/JECan/EmbeddedSystems">
                <img class="img-portfolio img-responsive" src="img/resume_portfolio_embedded_dark.png">
                <figcaption>
                  <h2>Embedded <span>Systems</span></h2>
                  <p>Simulated security system written in C</p>
                <figcaption>
              </a>
            </figure>
          </div>
          <div class="grid">
            <figure class="effect-steve">
              <figcaption><a href="https://github.com/JECan/166"></a>
                <h2>Database <span>Management</span></h2>
                 <p>Terminal based messenger application written with SQL and Java</p>
                
               <figcaption><a href="https://github.com/JECan/166">
              </a>
                <img class="img-portfolio img-responsive" src="img/resume_portfolio_db_dark.PNG">
            </figcaption></figcaption>
<!--              <a href="https://github.com/JECan/166">
                <img class="img-portfolio img-responsive" src="img/resume_portfolio_db.PNG">
                <figcaption>
                  <h2>Database <span>Management</span></h2>
                  <p>Terminal based messenger application written with SQL and Java</p>
               <figcaption>
              </a>
-->
            </figure>
            <figure class="effect-steve">
              <a href="https://github.com/JECan/8_PuzzleSolver">
                <img class="img-portfolio img-responsive" src="img/resume_portfolio_8puzzle.png">
                <figcaption>
                  <h2>8 Puzzle <span>Solver</span></h2>
                  <p>3 X 3 sliding tile puzzle solver written in C++</p>
               <figcaption>
              </a>
            </figure>
          </div>
        <!-- /.row (nested) -->
        <!--<a href="#" class="btn btn-dark">View More Items</a>-->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div> 
  <!-- /.container -->
</section>
